<div class="services">
    <div class="container">
        <div class="services__box">
            <div class="services__top">
                <h3 class="services__title title24 _bold">
                    Услуги Smartremont.kz
                </h3>
                <p class="services__text">
                    Мы предоставляем на ваш выбор три услуги Smartremont.kz:
                </p>
            </div>
            <div class="services__slider">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services__item-title title18 _bold">
                            <img src="images/fullWork.svg" alt="">Ремонт под ключ
                        </div>
                        <p class="services__item-text">
                            В стоимость ремонта включено все что необходимо для его успешного завершения. В конструкторе вы можете выбрать дополнительно опции.
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="services__item-title title18 _bold">
                            <img src="images/materials.svg" alt="">Только материалы
                        </div>
                        <p class="services__item-text">
                            Вы можете использовать конструктор и выбрать все опции, а мы привезем все необходимые материалы для вашего ремонта
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="services__item-title title18 _bold">
                            <img src="images/project-icon.svg" alt="">Рабочий проект
                        </div>
                        <p class="services__item-text">
                            Так же, мы предоставляем услугу
                            по составлению рабочего проекта, который является залогом быстрого и качественного ремонта
                        </p>
                    </div>
                </div>
            </div>
            <div class="services__items">
                <div class="services__item">
                    <div class="services__item-title title18 _bold">
                        <img src="images/fullWork.svg" alt="">Ремонт под ключ
                    </div>
                    <p class="services__item-text">
                        В стоимость ремонта включено все что необходимо для его успешного завершения. В конструкторе вы можете выбрать дополнительно опции.
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__item-title title18 _bold">
                        <img src="images/materials.svg" alt="">Только материалы
                    </div>
                    <p class="services__item-text">
                        Вы можете использовать конструктор и выбрать все опции, а мы привезем все необходимые материалы для вашего ремонта
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__item-title title18 _bold">
                        <img src="images/project-icon.svg" alt="">Рабочий проект
                    </div>
                    <p class="services__item-text">
                        Так же, мы предоставляем услугу
                        по составлению рабочего проекта, который является залогом быстрого и качественного ремонта
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>