@media(max-width:1380px) {
    .constructor{
        .filling{
            &-item{
                width: calc(33.33% - 12px);
            }
        }
    }
}
@media(max-width:1270px) {
    .header {
        &__nav {
            margin-left: 20px;

            li+li {
                margin-left: 15px;
            }
        }
    }
    .constructor{
        .packs{
            &__items{
                max-width: 100%;
                margin-left: 0;
            }
            &-item{
                width: 100%;
                margin-left: 0;
            }
        }
        .total{
            &__price{
                padding-right: 20px;
                margin-right: 20px;
            }
            &__item{
                & + .total__item{
                    margin-left: 20px;
                }
            }
        }
    }
}

@media(max-width:1170px) {
    .header {
        &__nav {
            li {
                font-size: 13px;
            }
        }
    }
    .constructor{
        .filling{
            &-item{
                width: calc(50% - 12px);
            }
        }
    }
}

@media(max-width:1116px) {
    .bahandi {
        display: none;
    }

    .header {
        &__inner {
            height: 107px;
        }

        &__logo {
            margin-right: auto;

            img {

                width: 126px;
                height: 43px;
            }
        }

        &__nav {
            display: none;
        }
    }

    .footer {
        &__logo {
            img {
                width: 132px;
                height: 45px;
            }
        }

        &__nav {
            display: none;
        }

        &__socials {
            margin-left: auto;
            margin-right: 40px;
        }
    }

    .constructor{
        .total{
            &__list{
                display: none;
            }
        }
    }
}

@media (max-width: 1024px){
    .constructor{
        .packs{
            &__content{
                padding-top: 0;
            }
            &-item{
                flex-direction: column;
                padding: 8px;
                &__wrapper{
                    max-width: 100%;
                    width: 100%;
                    align-items: center;
                    flex-direction: row;
                    margin-bottom: 12px;
                }
                &__image{
                    order: 1;
                    width: 30px;
                    min-width: 30px;
                    padding-bottom: 0;
                    margin-right: 8px;
                }
                &__name{
                    order: 2;
                    margin-bottom: 0;
                    margin-right: auto;
                    span{
                        display: inline-block;
                    }
                }
                &__price{
                    flex-direction: column;
                    justify-content: flex-end;
                    order: 3;
                    margin-top: unset;
                    margin-bottom: 0;
                    margin-left: 16px;
                }
                &__list{
                    margin-left: 0;
                    li{
                        font-size: 10px;
                        line-height: 14px;
                        padding-left: 15px;
                        & + li{
                            margin-top: 8px;
                        }
                        &::before{
                            width: 2px;
                            height: 2px;
                            left: 6px;
                            top: 6px;
                        }
                    }
                }
            }
        }
        .inform{
            margin-bottom: 16px;
        }
        .description-slider{
            display: block;
        }
        .pc-content{
            background-color: #F7F7F7;
            padding: 16px 0;
            margin-top: 16px;
        }
        .filling{
            &__products{
                padding: 0;
                background-color: transparent;
                box-shadow: none;
            }
            &-product{
                &._pack{
                    .filling-product__price-old{
                        display: block;
                    }
                    .filling-product__discount{
                        display: none;
                    }
                    .filling-product__text{
                        order: -1;
                        font-size: 10px;
                        line-height: 14px;
                    }
                    .filling-product__image{
                        align-self: unset;
                    }
                }
                &__info{
                    display: flex;
                    flex-direction: column;
                }
            }
            &__description{
                background-color: transparent;
                box-shadow: none;
                padding: 0;
                &-box{
                    background-color: transparent;  
                    padding: 0;
                    margin-bottom: 16px;
                }
                &-image{
                    display: none;
                }
                &-add{
                    margin-left: 0;
                    margin-top: 16px;
                }
                &-price{
                    margin-top: 16px;
                }
            }
        }
        .filter-constructor._filling-desc{
            display: none;
        }
        .services{
            &__box{
                padding: 0;
                background-image: none;
            }
            &__items{
                display: none;
            }
            &__title{
                margin-bottom: 4px;
            }
            &__text{
                margin-bottom: 0;
            }
            &__slider{
                display: block;
            }
            &__top{
                padding: 24px 12px 22px;
                padding-right: 117px;
                border-bottom: 1px solid #F7F7F7;
                background-image: url(../images/services.jpg);
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &__item{
                & + &{
                    margin-left: 0;
                }
            }
        }

        .wrapper-with-aside{
            flex-direction: column;
        }

        .aside-constructor{
            margin-right: 0;
            width: 100%;
            min-width: unset;
            padding: 0;
            background-color: unset;
            padding: 16px 0;
            border-bottom: 1px solid #E8E8E8;
            border-radius: unset;
            margin-bottom: 16px;
            &__header{
                display: none;
            }
            &__items{
                margin-bottom: 0;
            }
            &__item + .aside-constructor__item{
                margin-left: 14px;
            }
            &__content{
                display: none;
            }
        }

        .total{
            display: none;
        }
        .total-mob{
            display: block;
        }
    }
}  

@media (max-width: 800px){  
    .constructor{
        .services{
            margin-bottom: 24px;
            &__title{
                font-size: 16px;
                line-height: 22px;
            }
            &__text{
                font-size: 12px;
                line-height: 16px;
            }
            &__item{
                &-title{
                    font-size: 14px;
                    line-height: 20px;
                }
                &-text{
                    margin-top: 4px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    
        .onboarding{
            &__title{
                font-size: 24px;
                line-height: 32px;
            }
            &__text{
                font-size: 14px;
                line-height: 20px;
            }
            &__space-room{
                display: block;
                .title18{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            &__edit{
                margin-top: 8px;
                font-size: 14px;
                line-height: 20px;
            }
            &__item,
            &__item2{
                &-title{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            &__row{
                &.onboarding__row_room-num{
                    flex-direction: column;
                    .onboarding__item{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .constructor{
        .pagination-pc{
            display: block;
        }
        .filter-constructor__pagination{
            justify-content: center;
            margin: 0 auto;
            max-width: 328px;
            width: 100%;
            li{
                font-size: 18px;
                line-height: 24px;
                &:first-child{
                    margin-right: auto;
                }
                &:last-child{
                    margin-left: auto;
                }
            }
        }
    }
}

@media (max-width: 640px){
    .wrapper{
        padding-bottom: 122px;
    }
    .constructor{
        .onboarding{
            &__row{
                flex-direction: column;
                &.onboarding__row_item-center{
                    align-items: unset;
                    justify-content: unset;
                }
            }
            &__next-column{
                margin-left: 0;
                padding-left: 0;
                border-left: none;
                margin-bottom: 16px;
                order: -1;
                .select{
                    max-width: max-content;
                }
            }
        }
    }
}

@media(max-width:537px) {
    .footer {
        &__copyright {
            margin-top: 24px;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin-top: 8px;
            }
        }

        &__socials {
            margin: 0 auto;
        }

        &__logo {
            img {
                width: 113px;
                height: 38px;
            }
        }

        &__btn {
            span {
                display: none;
            }

            svg {
                margin-right: 0;
            }

            width: 40px;
            height: 40px;

        }

    }

    .header__inner {

        height: 88px;

    }

    .header__tel {
        margin-right: 10px;
        font-size: 14px;
    }

    .bahandi {
        margin-right: 0;
    }
}

// MOBILE
@media (max-width: 480px){
    .container{
        padding: 0 16px;
    }
    .constructor{
        .back{
            display: block;
        }
        .fake-check{
            &__btn{
                padding: 0 15px;
            }
        }
        .onboarding{
            &__checkboxes{
                margin-left: -10px;
                margin-top: -10px;
                &.onboarding__checkboxes_package {
                    margin-left: -8px;
                    margin-top: -8px;
                    .fake-check{
                        margin-left: 8px;
                        margin-top: 8px;    
                        &__btn{
                            padding: 0 15px;
                        }
                    }
                }
                .fake-check{
                    margin-left: 10px;
                    margin-top: 10px;
                    &__btn{
                        font-weight: 400;
                        height: 36px;
                    }
                }
            }
            &__item{
                margin-top: 32px;
                &.onboarding__item_room-num{
                    .onboarding__checkboxes{
                        margin-left: -8px;
                        margin-top: -8px;
                    }
                    .fake-check{
                        margin-left: 8px;
                        margin-top: 8px;
                        &__btn{
                            font-weight: 700;
                            padding: 0 23px;
                            height: 44px;
                        }
                    }
                }
                &-title{
                    margin-bottom: 8px;
                }
            }
            &__item2{
                position: relative;
                padding: 16px 16px 24px;
                border-radius: 0;
                margin-left: -16px;
                margin-right: -16px;
                &-wrapper{
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &-title{
                    margin-bottom: 16px;
                }
                &-text{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            &__room{
                &-title{
                    display: none;
                }
                .onboarding__item2{
                    background-color: transparent;
                    margin-top: 24px;
                }
            }
        }
        .package{
            min-width: 184px;
            width: 184px;
            & + .package{
                margin-left: 24px;
            }
            &__image{
                height: 126px;
            }
            &__name{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 6px;
            }
            &__price{
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 8px;
                span{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            &__desc{
                padding-top: 8px;
                li + li{
                    margin-top: 8px;
                }
                &-title{
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 4px;
                }
                &-text{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .plans{
            &-item{
                width: 165px;
                min-width: 165px;
                & + .plans-item{
                    margin-left: 16px;
                }
                &__desc{
                    &-title{
                        font-size: 10px;
                        line-height: 14px;
                    }
                    &-value{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        .spaces{
            &-buttons{
                margin-top: 17px;
                flex-direction: column;
                &__request,
                &__save{
                    max-width: 100%;
                    height: 44px;
                }
                &__request{
                    margin-top: 17px;
                    margin-left: 0;
                }
            }
            &-add{
                position: absolute;
                right: 16px;
                top: 19px;
                margin-top: 0;
            }
            &__item{
                display: flex;
                justify-content: space-between;
                max-width: 100%;
                margin-top: 17px;
            }
            &.spaces_values{
                .spaces__item{
                    max-width: 100%;
                }
                .spaces__item-title{
                    max-width: 140px;
                }
            }
        }
    
        .didnt-find{
            padding: 8px;
            &__btn{
                width: 156px;
                min-width: 156px;
                height: 44px;
                margin-left: 16px;
                &.button{
                    padding: 0 13px;
                }
            }
            &__text{
                font-size: 12px;
                line-height: 20px;
                img{
                    margin-right: 4px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    
        .room-data{
            &__item{
                max-width: 100%;
                width: 100%;
            }
        }

        .aside-constructor{
            &__item{
                padding-right: 24px;
                &-title{
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 0;
                }
            }
        }

        .filter-constructor{
            &__item{
                padding: 14px 12px;
            }
            &__select{
                .select.select_style1  select{
                    font-weight: bold;
                }
            }
        }

        .filling{
            &-item{
                &__discount{
                    font-size: 12px;
                    line-height: 16px;
                }
                &__name{
                    font-size: 10px;
                    line-height: 14px;
                    margin-bottom: 2px;
                }
                &__price{
                    &-new{
                        font-size: 14px;
                        line-height: 20px;
                    }
                    &-old{
                        font-size: 10px;
                        line-height: 16px;
                    }
                }
                &__quantity{
                    height: 32px;
                }
                &__num{
                    max-width: 100%;
                    width: 100%;
                    line-height: 32px;
                }
                &__add{
                    max-width: 100%;
                    width: 100%;
                    height: 32px;
                }
            }
            &-product{
                &__image{
                    img{
                        width: 30px;
                    }
                }
                &__name{
                    font-size: 12px;
                    line-height: 16px;
                }
                &__price{
                    &-new{
                        font-size: 12px;
                        line-height: 16px;
                    }
                    &-old{
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
        }

        .packs{
            &__item{
                width: 212px;
                min-width: 212px;
                & + .packs__item{
                    margin-left: 8px;
                }
                &-logo{
                    margin-bottom: 8px;
                    img{
                        height: 16px;
                    }
                }
                &-type{
                    span{
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                &-discount{
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0 8px;
                    height: 28px;
                }
                &-price{
                    &-new{
                        font-size: 16px;
                        line-height: 22px;
                    }
                    &-old{
                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
            &__products{
                &-title{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            &__product{
                &-name{
                    font-size: 12px;
                    line-height: 16px;
                }
                &-image{
                    width: 32px;
                }
            }
        }
    }
}

@media(max-width: 425px) {
    .bahandi {
        display: block;
    }

    .header__logo {
        margin: 0 auto;

        img {
            width: 105px;
            height: 36px;
        }
    }

    .header__btn {
        span {
            display: none;
        }

        svg {
            margin-right: 0;
        }

        width: 40px;
        height: 40px;

    }

    .header__logo {
        margin: 0 auto;
    }

    .header__tel {
        display: none;
    }
}
@media(max-width: 380px) {
    .constructor{
        .filling{
            &-item{
                &__price{
                    flex-direction: column;
                    align-items: flex-start;
                    &-old{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}